@import 'react-datepicker/dist/react-datepicker.css';

/* 전체 달력 배경 */
.custom-calendar {
  position: absolute;
  top: -56px;
  left: 120px;
  height: 350px;
  border: none;
  border-radius: 0 !important;
  z-index: 1000;
}

.react-datepicker__triangle {
  display: none;
}

/* 날짜 선택 스타일 */
.react-datepicker__day {
  @apply flex justify-center items-center w-[35px] h-[35px] rounded-full text-[12px] font-medium;
}

.react-datepicker__day:hover {
  background-color: rgba(118, 165, 234, 0.1) !important;
  border-radius: 50% !important;
  color: black !important;
}

.react-datepicker__month-container {
  width: 280px;
}

.react-datepicker__week {
  @apply flex justify-center p-2;
}

/* 선택된 날짜 */
.react-datepicker__day--selected {
  @apply bg-blue-33 text-white;
  border-radius: 50%;
}

/* 범위 내 날짜 */
.react-datepicker__day--in-range {
  @apply bg-blue-33 text-white;
}

.react-datepicker__month {
  border: 1px solid #ddd;
  border-top: 0;
  margin: 0;
}

/* 주말 스타일 (일요일) */
.react-datepicker__day--weekend {
  @apply text-red;
}

/* 달력 헤더 */
.react-datepicker__current-month {
  @apply text-[18px] font-bold;
}

.react-datepicker__header {
  background-color: rgba(118, 165, 234, 0.1);
  border: 1px solid #ddd;
}

.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background-color: rgba(118, 165, 234, 0.1) !important;
  color: black;
}

.react-datepicker__day--keyboard-selected {
  background-color: rgba(118, 165, 234, 0.1);
  border-radius: 50%;
  color: black;
}

.react-datepicker__day--keyboard-selected:not([aria-disabled='true']):hover {
  @apply bg-blue-33 rounded-full text-white;
}

.react-datepicker__day--in-range {
  @apply bg-blue-33 rounded-full text-white;
}

.react-datepicker__day-names {
  @apply flex justify-center text-[14px] py-3;
}

.react-datepicker__day-name {
  @apply w-20 py-2 mt-3;
}
